.unify {
  color: #808080;
}

.tag-name {
  color: #2c7ad6;
}

.attr-key {
  color: #67cdfe;
}

.equal {
  color: #d4d4d4;
}

.attr-val {
  color: #ce9178;
}

/*滚动条整体样式*/
.scroll::-webkit-scrollbar {
  width: 2px;
  height: 1px;
}
/*滚动条滑块*/
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
/*滚动条轨道*/
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0);
  border-radius: 10px;
  background: #ccc;
}
